* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: url(./img/image\ 4.png);
}

@font-face {
  font-family: Butler-font;
  src: url(font/Butler_Black.otf);
}

.navigation-web {
  display: none;
}

.navigation-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.logo-image {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo-image img {
  width: 40%;
  padding: 20px;
}

.nav-bar {
  background-color: white;
  border-radius: 50%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.nav-bar1 {
  width: 50px;
  padding: 2px;
  background-color: black;
}

.Head-text-web {
  display: none;
}
.Head-text-mobile {
  width: 100%;
  display: flex;
  justify-content: center;
}
.ht-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.bigk {
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(252, 78, 9, 1);
}

.h1 {
  width: 240px;
  font-family: Butler;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: left;
}
.p-two {
  width: 308px;
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
}

.order-now {
  width: 100%;
  margin-top: 10px;
}

.order-now button {
  background-color: #fb2504;
  width: 200px;
  padding: 10px;
  border: none;
  font-family: "DM Sans", sans-serif;
  color: white;
  font-size: 20px;
}

.menu {
  width: 100%;
}

.menu img {
  width: 100%;
}
.about1 {
  display: none;
}
.about {
  width: 100%;
  background-color: #fc5d0b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.about-container {
  width: 90%;
}
.about-text-one {
  width: 224px;
  font-family: Butler;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: left;
  color: white;
}

.about-image-one {
  width: 340px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 30px;
}
.about-image-one img {
  width: 308px;
}

.about-info-one {
  width: 340px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: justified;
  top: 1335px;
  left: 19px;
  margin-top: 10px;
  color: white;
}

.our-menu {
  width: 100%;
  background-color: rgba(235, 235, 235, 1);
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-menu-header {
  width: 135px;
  font-family: Butler;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 23px;
}
.menu-price {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-menu-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: DM Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 10px;
  gap: 34px;
  margin-right: 30px;
}

.menu-price-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.menu-price-image {
  width: 307px;
  background-color: rgb(233, 226, 226);
  padding: 15px;
}

.menu-price-image img {
  width: 110px;
  top: 1870px;
  left: 39px;
}
.menu-price-image p {
  width: 201px;
  font-family: DM Sans;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: left;
}
.menu-price-image b {
  width: 62px;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: left;
}
.our-menu1 {
  display: none;
}

.slider1 {
  display: none;
}

.slider {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.SL {
  width: 20px;
  padding: 2px;
  background-color: rgb(82, 80, 80);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  color: white;
}
.Gallery1 {
  display: none;
}
.Gallery {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.Gallery-container {
  width: 90%;
  margin-top: 20px;
}

.Gallery p {
  font-family: Butler;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 10px;
}
.Gallery-grid {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.Gallery-grid img {
  width: 162px;
}

.see-more {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.see-more button {
  background-color: #fb2504;
  width: 209px;
  padding: 20px;
  border: none;
  font-family: "DM Sans", sans-serif;
  color: white;
  box-shadow: 0px 0px 10px 0px gray inset;
}

.contact1 {
  display: none;
}

.contact {
  width: 100%;
  border-top: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container {
  width: 90%;
}

.contact-image {
  width: 90%;
  gap: 50px;
}

.contact-image img {
  width: 100%;
}

.contact-us {
  width: 144px;
  font-family: Butler;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: left;
  padding-block: 20px;
}
.contact-text {
  width: 90%;
  padding-bottom: 35px;
  padding-top: 10px;
  gap: 60px;
}
.contact-text1 {
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: left;
}

.contact-text2 {
  width: 100%;
  font-family: DM Sans;
  font-size: 21px;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: left;
}
@media screen and (min-width: 768px) {
  body {
    background-image: url(./img/image\ 4.png);
  }

  .navigation-mobile {
    display: none;
  }

  .navigation-web {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .logo-image {
    width: 100%;
  }

  .logo-image img {
    width: 30%;
    padding: 20px;
  }

  .nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: "DM Sans", sans-serif;
  }
  .login {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 17%;
  }

  .login button {
    background-color: #fb2504;
    width: 149px;
    padding: 10px;
    border: none;
    font-family: "DM Sans", sans-serif;
  }
  .Head-text-mobile {
    display: none;
  }
  .Head-text-web {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .ht-container {
    display: none;
  }
  .ht-container2 {
    display: flex;
    width: 90%;
    margin-left: 10px;
  }
  .borders {
    width: 11%;
    display: flex;
    align-items: center;
    padding-left: 10px;
  }
  .middle-text2 {
    width: 410px;
  }
  .bigk2 {
    font-family: "DM Sans", sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.02em;
    text-align: left;
    color: rgba(252, 78, 9, 1);
  }

  .p-one-2 {
    width: 470px;
    font-family: Butler;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .p-two-2 {
    width: 380px;
    font-family: DM Sans;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .order-now-2 {
    width: 100%;
    margin-top: 10px;
  }

  .order-now-2 button {
    background-color: #fb2504;
    width: 149px;
    padding: 10px;
    border: none;
    font-family: "DM Sans", sans-serif;
    color: white;
  }

  .fa-solid {
    color: #fb2504;
    display: flex;
    justify-content: center;
    font-size: 40px;
  }

  .menu-2 {
    display: block;
    width: 400px;
  }

  .menu-2 img {
    width: 420px;
  }

  .about {
    display: none;
  }

  .about1 {
    width: 100%;
    display: flex;
    background-color: #fb2e05;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about-container {
    width: 93%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about-inside1 {
    width: 55%;
    margin-left: 70px;
  }
  .about-info-one {
    width: 62%;
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: justified;
    margin-top: 10px;
    margin-right: 47px;
  }

  .about-info-one p {
    width: 540px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid white;
    padding-left: 45px;
  }
  .about-text-one {
    width: 470px;
    font-family: Butler;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .about-image-one {
    width: 340px;
    top: 972px;
    left: 230px;
    padding-bottom: 6px;
    margin-top: 13px;
  }
  .our-menu {
    display: none;
  }

  .our-menu1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(235, 235, 235, 1) !important;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .our-menu-header {
    width: 270px;
    font-family: Butler;
    font-size: 60px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .menu-price1 {
    width: 100%;
    display: flex;
    padding-top: 80px;
    padding-top: 80px;
  }

  .our-menu-nav1 {
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 55px;
    align-items: center;
    padding-top: 27px;
    border-right: 1px solid black;
    height: fit-content;
  }

  .menu-price-container1 {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 32px;
  }

  .menu-price-image1 {
    width: 210px;
    background-color: rgb(180, 174, 174);
    padding: 20px;
  }
  .menu-price-image1 img {
    width: 110px;
  }

  .menu-price-image1 p {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.02em;
    text-align: left;
  }
  .slider {
    display: none;
  }
  .slider1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 42px;
  }

  .SL {
    width: 20px;
    padding: 2px;
    background-color: rgb(82, 80, 80);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: white;
  }

  .Gallery {
    display: none;
  }
  .Gallery1 {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .Gallery-container1 {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .Gallery1 p {
    font-family: Butler;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 45px;
  }
  .Gallery-grid1 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
  }

  .Gallery-grid1 img {
    width: 280px;
  }

  .contact {
    display: none;
  }

  .contact1 {
    width: 100%;
    border-top: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }

  .contact-container1 {
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .contact-image1 {
    width: 50%;
    gap: 50px;
  }

  .contact-image img {
    width: 498px;
    height: 373px;
  }

  .contact-us1 {
    width: 144px;
    font-family: Butler;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: left;
    padding-block: 20px;
    margin-right: 720px;
  }
  .contact-text- {
    width: 50%;
    padding-bottom: 35px;
    padding-top: 10px;
  }

  .contact-text-inside {
    padding-block: 20px;
  }
  .contact-text1 {
    font-family: DM Sans;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -0.02em;
    text-align: left;
  }

  .contact-text2 {
    width: 100%;
    font-family: DM Sans;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: -0.02em;
    text-align: left;
  }
}
